* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --border: 1px solid #ffffff1a;
}

body, table, input, button {
    font: 16px;
    font-family: "Roboto", sans-serif;
    line-height: 1.4em;
    font-weight: 400;
}

body {
    background-color: #121214;
    color: #fff;
}

.container {
    max-width: 690px;
    margin: 0 auto;
    padding: 20px 32px;
}

header {
    padding: 20px 0;
}

form {
    border: var(--border);
    border-inline: none;
    padding: 20px 0;
}

fieldset {
    border: none;
}

fieldset > div {
    display: flex;
    gap: 12px;
}

.input-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 12px;
    border: var(--border);
    border-radius: 10px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.5em;
    font-weight: 400;
    color: #c4c4cc;
}

.input-wrapper.ativo {
    border-color: #e1e1e6;
}

input {
    all: unset;
}

fieldset legend, section h2 {
    font-size: 16px;
    line-height: 1.4em;
    font-weight: 700;
    color: #e1e1e6;
    padding-bottom: 16px;
}

fieldset button {
    width: fit-content;
    border: 0;
    background: #f48f56;
    border-radius: 10px;
    padding: 7px 20px;
    font-size: 12px;
    line-height: 24px;
    font-weight: 700;
    color: #00292e;
    cursor: pointer;
}

fieldset button:hover {
    background: #f37c37;
}

.lista-participantes {
    padding: 20px 0;
}

.lista-participantes > div {
    border: var(--border);
    border-radius: 8px;
}

table {
    border-collapse: collapse;
}

table thead {
    font-size: 14px;
    line-height: 16px;
}

thead th,
tbody td {
    padding: 12px 16px;
}

tbody td {
    border-top: var(--border);
    font-size: 13px;
    line-height: 15px;
    color: #c4c4cc;
}

tbody td strong {
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
}

tbody td small {
    font-size: 12px;
    line-height: 16px;
}

tbody td button {
    all: unset;
    color: #9ff9cc;
    cursor: pointer;
}

tbody td button:hover {
    text-decoration: underline;
}